.dialog-content {
	max-width: 320px;
	padding: 1rem;
}

.dialog-footer {
	padding: 0.25rem 0.25rem 0 0.25rem;
	border-top: 1px solid #d9d9d9;
	display: flex;
	justify-content: flex-end;
}

.dialog-footer-btn--cancel {
	margin-inline-end: 0.25rem;
}

.row-id{
    display: flex;    
}

.id-lbl{
    text-align: right;
    min-width: 35%;
    padding-right: 1rem;    
}

.id-txt{
    text-align: left;
    min-width: 65%;    
}

.row-username{
    display: flex;    
}

.username-lbl{
    text-align: right;
    min-width: 35%;
    padding-right: 1rem;    
}

.username-txt{
    text-align: left;
    min-width: 65%;    
}

.row-name{
    display: flex;    
}

.name-lbl{
    text-align: right;
    min-width: 35%;
    padding-right: 1rem;    
}

.name-txt{
    text-align: left;
    min-width: 65%;    
}

.row-password{
    display: flex;    
}

.password-lbl{
    text-align: right;
    min-width: 35%;
    padding-right: 1rem;    
}

.password-txt{
    text-align: left;
    min-width: 65%;    
}
.row-admin{
    display: flex;    
}

.admin-lbl{
    text-align: right;
    min-width: 35%;
    padding-right: 1rem;    
}

.admin-txt{
    text-align: left;
    min-width: 65%;    
}
.row-locked{
    display: flex;    
}

.locked-lbl{
    text-align: right;
    min-width: 35%;
    padding-right: 1rem;    
}

.locked-txt{
    text-align: left;
    min-width: 65%;    
}

.row-blank{
    min-height: 1rem;
}

.row-messages{
    display: flex;
}

.msg-text{
    text-align: center;
    min-width: 90%;
    position: absolute;
    bottom: 0px;
}
.msg-info-btn{
    position: absolute;
    bottom: 0px;    
}