.dialog-content {
	max-width: 320px;
	padding: 1rem;
}

.dialog-footer {
	padding: 0.25rem 0.25rem 0 0.25rem;
	border-top: 1px solid #d9d9d9;
	display: flex;
	justify-content: flex-end;
}

.dialog-footer-btn--cancel {
	margin-inline-end: 0.25rem;
}
