.li-content {
	display: flex;
	width: 100%;
}

.li-tarea-numero {
	display: flex;
	min-width: 20%;
	align-items: left;
}

.li-tarea-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.li-tarea-avance{
	width: 7%;
	min-width: 7%;
}

.li-tarea-avance-lbl{
	width: 7%;
	margin-right: 0.5rem;
}

.li-tarea-estatus{
	width: 13%;
	min-width: 13%;
	
}


.li-tarea-estatus-lbl{
	width: 13%;
	text-align: left;
}
.li-tarea-asignado-a{
	width: 5%;
}

.li-tarea-prioridad {
	display: flex;
	max-width: 6%;
	align-items: left;
	margin-right: 0.5rem;
}

.reg-act-title{
	font-size: 1rem;
	font-weight: bold;
}
.li-tarea-prioridad-lbl {
	display: flex;
	max-width: 6%;
	align-items: left;
	margin-right: 0.5rem;
}

.row-menu{
	max-width: 100%;
}

.row-busy-ind{
    display: flex;
}

.busy-ind{
    min-width: 100%;
    text-align: center;
}

.button-refresh{
	margin-left: 0.5rem;
}

.button-admin{
	float: right;
	margin-right: 0.8rem;
}




.menu-lista-puestos{
	max-width: 50%;
	min-width: 10rem;
	width: 20rem;
}

.li-tarea-actions {
	display: flex;
    min-width: 10%;
    align-items: right;
	margin-left: 0.5rem;
}

.edit-btn {
	margin-right: 0.5rem;
}

.full-width {
	width: 100%;
}

.app-content {
	height: 100%;
	padding: 0 1rem;
}

.list-todos-wrapper {
	margin: 2rem 0;
}

.list-todos-panel {
	margin: 2rem 0;
}

.dialog-content {
	max-width: 320px;
	padding: 1rem;
}


.date-edit-fields {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.dialog-footer {
	padding: 0.25rem 0.25rem 0 0.25rem;
	border-top: 1px solid #d9d9d9;
	display: flex;
	justify-content: flex-end;
}

.dialog-footer-btn--cancel {
	margin-inline-end: 0.25rem;
}

