.container {
    display: flex;
    flex-direction: column;
}
.row-messages{
    display: flex;
}

.msg-text{
    text-align: center;
    min-width: 100%;
    position: absolute;
    bottom: 0px;
}
.msg-info-btn{
    position: absolute;
    bottom: 0px;    
}