<div class="container">
  <ui5-bar slot="header" design="Header">
    <ui5-title level="H5" slot="startContent">Lista de prioridades de {{configView.asigANombre}}</ui5-title>
    <ui5-button class="dialogCloser" design="Transparent" id="closeDialogButton" slot="endContent"
    icon="decline" (click)="close()"></ui5-button>
  </ui5-bar>
  <div>
    <ui5-table growing="Scroll" busy-delay="0" sticky-column-header>
      <ui5-table-column slot="columns">
        <span>Id</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span>Tarea</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span>Descripción</span>
      </ui5-table-column>
      <!--Add a ui5 table column with text Estatus -->
      <ui5-table-column slot="columns">
        <span>Estatus</span>
      </ui5-table-column>
      <ui5-table-column slot="columns" >
        <span >Prioridad</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span>Avance</span>
      </ui5-table-column>
      @for (tarea  of tareas; track tarea ) {
        <ui5-table-row>
          <ui5-table-cell>
            <span>{{tarea.id}}</span>
          </ui5-table-cell>
          <ui5-table-cell>
            <span>{{tarea.numero}}</span>
          </ui5-table-cell>
          <ui5-table-cell>
            <span title={{tarea.texto}}>{{getTareaTextPreview(tarea.texto)}}</span>
          </ui5-table-cell>
          <ui5-table-cell>
            <span>{{tarea.estatusTxt}}</span>
          </ui5-table-cell>
          <ui5-table-cell>
            <span class="li-tarea-prioridad">
              <select #selectPrioridad [(ngModel)]="tarea.prioridadNew" (change)="handlePrioridadSelChange(tarea.asigId,$event)">
                @for (prioridad of tarea.optPrioridades; track prioridad) {
                  <option [ngValue]="prioridad">{{prioridad}}</option>
                }
              </select>
            </span>
          </ui5-table-cell>
          <ui5-table-cell>
            <span class="li-tarea-avance" (click)="handleShowActividades(tarea.asigIdPuesto)"><ui5-progress-indicator class="tarea-avance-progress" [value]="tarea.avancePuesto"></ui5-progress-indicator></span>
          </ui5-table-cell>
        </ui5-table-row>
      }
    </ui5-table>
  </div>
  <div class="dialog-footer" slot="footer">
    <ui5-button #btn_guardar design="Positive" class="dialog-footer-btn--cancel" (click)="save()">Guardar</ui5-button>
    <ui5-button design="Transparent" class="dialog-footer-btn--cancel" (click)="close()">Cerrar</ui5-button>
  </div>
  <aside>
    <ui5-dialog #dialogListaActividades>
      <app-lista-actividades [actvParam]="oActvAsigParam" (cerrar)="handleCloseListaActividades($event)"></app-lista-actividades>
    </ui5-dialog>
  </aside>
</div>
