<div class="container">
  <div class="row-menu">
    <ui5-button (click)="handleRegresar()" class="menu-back" >&lt;</ui5-button>
    <span> | </span>
    <ui5-button (click)="handleAdd()"  >+ Tablero</ui5-button>
    <ui5-button icon="sap-icon://refresh" (click)="reLoadData()"  class="menu-refresh"></ui5-button>
  </div>
  <div>
    <div class="row-busy-ind">
      <div class="busy-ind">
        <ui5-busy-indicator #busy_indicator size="Medium"></ui5-busy-indicator>
      </div>
    </div>
  </div>
  <div style="height: 300px; overflow: scroll;">
    <ui5-table growing="Scroll" busy-delay="0" sticky-column-header>
      <ui5-table-column slot="columns">
        <span>Id</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span>Tablero</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span>Borrado</span>
      </ui5-table-column>
      <ui5-table-column slot="columns">
        <span>Editar</span>
      </ui5-table-column>

      @for (tablero of tableros; track tablero) {
        <ui5-table-row (click)="handleSelectTablero(tablero.id)">
          <ui5-table-cell>
            <span >{{tablero.id}}</span>
          </ui5-table-cell>
          <ui5-table-cell>
            <span>{{tablero.nombre}}</span>
          </ui5-table-cell>
          <ui5-table-cell>
            <span><ui5-checkbox disabled [checked]="tablero.borrado"></ui5-checkbox></span>
          </ui5-table-cell>
          <ui5-table-cell>
            <span><ui5-button icon="sap-icon://edit" (click)="handleEdit($event,tablero.id)"></ui5-button></span>
          </ui5-table-cell>>
        </ui5-table-row>
      }
    </ui5-table>
  </div>
  <app-lista-tabestados [tablero]="tableroSelected"></app-lista-tabestados>
  <aside>
    <ui5-dialog #dialogAdd header-text="Crear tablero" >
      <app-tablero-add [tablero]="tableroAdd" (cerrar)="handleCloseAdd($event)"></app-tablero-add>
    </ui5-dialog>
  </aside>
  <aside>
    <ui5-dialog #dialogEdit header-text="Editar tablero" >
      <app-tablero-edit [tablero]="tableroEdit" (cerrar)="handleCloseEdit($event)"></app-tablero-edit>
    </ui5-dialog>
  </aside>
</div>
