<div class="dialog-content">
  <div class="edit-wrapper">
    <ui5-label>Numero:</ui5-label>
    <ui5-input #dialogTareaNumeroInput maxlength="15" [value]="tarea.numero" ></ui5-input>
  </div>
  <div class="edit-wrapper">
    <ui5-label>Url de Documentación:</ui5-label>
    <ui5-textarea #dialogTareaDocuUrlInput class="tarea-docu-url-textarea" [value]="tarea.docuUrl"></ui5-textarea>
  </div>
  <div class="edit-wrapper">
    <ui5-label>Descripcion:</ui5-label>
    <ui5-textarea #dialogTareaTextInput class="tarea-texto-textarea" maxlength="500" show-exceeded-text [value]="tarea.texto"></ui5-textarea>
  </div>
  <div class="edit-wrapper-align">
    <ui5-label>Asignar a:</ui5-label>
    <ui5-select #selectAsignarA (change)="AsignarAChanged($event)">
      <ui5-option></ui5-option>
      @for (puesto of puestos; track puesto) {
        <ui5-option value="{{puesto.puestoId}}" [selected]="puesto.puestoId == tarea.asignadoA">{{puesto.nombre}} ({{puesto.puestoTitulo}})</ui5-option>
      }
    </ui5-select>
  </div>
  <div class="edit-wrapper-align">
    <ui5-label>Tablero:</ui5-label>
    <ui5-select  #selectTablero>
      @for (tablero of puestoTableros; track tablero) {
        @if (tablero.borrado !== true) {
          <ui5-option [selected]="tablero.tableroId == tarea.tableroId" value="{{tablero.tableroId}}">{{tablero.tableroNombre}}</ui5-option>
        }
      }
    </ui5-select>
  </div>
</div>
<div class="dialog-footer">
  <ui5-button design="Transparent" class="dialog-footer-btn--cancel" (click)="cancelar()">Cancelar</ui5-button>
  <ui5-button design="Emphasized" class="dialog-footer-btn--save" (click)="guardar()">Guardar</ui5-button>
</div>

