    <div class="dialog-content">
        <div class="edit-wrapper">
            <div class="row-tarea-num">
                <div class="tarea-num-lbl">
                    <ui5-label >Numero:</ui5-label>
                </div>
                <div class="tarea-num">
                    <ui5-input [value]="actividad.tareaNumero" disabled></ui5-input>    
                </div>
            </div>
        </div>
        <div class="edit-wrapper">
            <div class="row-fecha">
                <div class="fecha-lbl">
                    <ui5-label>Fecha:</ui5-label>
                </div>
                <div class="fecha">
                    <ui5-date-picker #dialogFechaInput format-pattern="dd/MM/yyyy" value="{{actividad.fechaSTR}}"></ui5-date-picker>
                </div>
            </div>
        </div>     
        <div class="edit-wrapper">
            <div class="row-avance">
                <div class="avance-lbl" title="Avance acumulado">
                    <ui5-label>Avance(%):</ui5-label>
                </div>
                <div class="avance">
                    <ui5-input #dialogAvanceInput maxlength="3" value="{{actividad.avance}}"></ui5-input>
                </div>
            </div>
        </div>
        <div class="edit-wrapper">
            <div class="row-tiempo">
                <div class="tiempo-lbl" title="Tiempo asignado">
                    <ui5-label>Tiempo:</ui5-label>
                </div>
                <div class="tiempo">
                    <ui5-input class="tiempo-hrs" #dialogHrsInput maxlength="2" value="{{actividad.actvHrs}}"></ui5-input>
                    <ui5-label>hrs.</ui5-label>
                    <ui5-input class="tiempo-mins" #dialogMinsInput maxlength="2" value="{{actividad.actvMins}}"></ui5-input>
                    <ui5-label>min.</ui5-label>
                </div>
            </div>        
        </div>
        <div class="edit-wrapper">
            <div class="row-actividades-lbl">
                <div class="actividades-lbl">
                    <ui5-label>Actividades realizadas:</ui5-label>
                </div>
            </div>        
            <div class="row-actividades">
                <div class="actividades">
                    <ui5-textarea #dialogTextoInput class="actividad-texto" maxlength="500" show-exceeded-text value="{{actividad.texto}}"></ui5-textarea>
                </div>
            </div>        
        </div>
    </div>
    <div class="dialog-footer">
        <ui5-button design="Transparent" class="dialog-footer-btn--cancel" (click)="cancelar()">Cancelar</ui5-button>
        <ui5-button design="Emphasized" class="dialog-footer-btn--save" (click)="guardar()">Guardar</ui5-button>
    </div>
