<ui5-product-switch>
    <ui5-product-switch-item title-text="Regresar" subtitle-text="" icon="nav-back"  (click)="handleRegresar()"></ui5-product-switch-item>
    <ui5-product-switch-item title-text="Usuarios" subtitle-text="" icon="user-settings" (click)="handleCatUsuarios()"></ui5-product-switch-item>
    <ui5-product-switch-item title-text="Puestos" subtitle-text="" icon="business-suite/operator" (click)="handleCatPuestos()"></ui5-product-switch-item>
    <ui5-product-switch-item title-text="Empleados" subtitle-text="" icon="business-card" (click)="handleCatEmpleados()"></ui5-product-switch-item>
    <!--<ui5-product-switch-item title-text="Estatus" subtitle-text="" icon="status-critical" (click)="handleCatEstatus()"></ui5-product-switch-item>
    <ui5-product-switch-item title-text="Permisos" subtitle-text="" icon="validate"></ui5-product-switch-item>
    <ui5-product-switch-item title-text="Textos" subtitle-text="" icon="text" (click)="handleCatTextos()"></ui5-product-switch-item>-->
    <ui5-product-switch-item title-text="Tableros" subtitle-text="" icon="workflow-tasks" (click)="handleCatTableros()"></ui5-product-switch-item>    
</ui5-product-switch>